.skipLink {
    left: -9999px;
    top: 20px;
    position: absolute;
    text-decoration: none;
    background-color: blue;
    border: none;
    color: white;
    padding: 10px;
}

.skipLink:focus {
    position: static;
}

#btnAcessibilidade {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    background-color: blue;
    color: white;
    border: none;

    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    width: 150px;
    box-sizing: border-box;
}

#menuAcessibilidade {
    position: fixed;
    top: 50px;
    right: 20px;
    background-color: white;
border: 2px solid blue;
width: 150px;
box-sizing: border-box;
}


#menuAcessibilidade button {
display: block;    
width: 90%;
margin: 10px auto;
background-color: gray;
color: white;
}

.contraste{
    background-color: black;
    color: white;
}

.contraste th, .contraste td{
    border: 1px solid yellow;
}


.contraste a{
    color: darkblue;
}


.contraste button, .contraste li{
    background-color: coral;
    color: darkblue;
    color: black;
}
