.skipLink {
    left: -9999px;
    top: 20px; /* Define a distância do topo aqui */
    position: absolute;
    text-decoration: none;
    background-color: blue;
    border: none;
    color: white;
    padding: 10px;
    z-index: 9999; /* Garante que o botão fique visível por cima de outros elementos */
}


.skipLink:focus {
    /*position: static;*/
    left: 20px; /* Traz o botão de volta para a tela mantendo a posição topo */
    position: absolute; /* Mantém como absolute para respeitar o 'top' */
    outline-offset: 3px;
}



#btnAcessibilidade {    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    background-color: blue;
    color: white;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border: none;

    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    width: 180px;
    height: 30px;
    box-sizing: border-box;
}

#menuAcessibilidade {
    position: fixed;
    top: 55px;
    right: 20px;
    background-color: white;
    border: 2px solid blue;
    width: 180px;
    box-sizing: border-box;
}


#menuAcessibilidade button {
display: block;    
width: 90%;
height: 25px;
margin: 10px auto;
background-color: blueviolet;
color: white;
font-size: 10px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: bold;
}


/*Contraste*/
.contraste, .contraste ul{
    background-color: #414246;
    color: white;
}

.contraste th, .contraste td{
    border: 3px solid gray;
    color: white;
    font-weight: bold;
}



.contraste a{
    color: white;
}


.contraste input, .contraste textarea{
    background-color: #893041;
    color: white;
    border: 3px solid white;
}


/* Correção para o autopreenchimento */
.contraste input:-webkit-autofill,
.contraste input:-webkit-autofill:hover, 
.contraste input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #893041 inset !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
}


.contraste input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}




.contraste .divMensagem{
    color: white;
}


.contraste footer{
    background-color: black;
    color: white;
    font-weight: bold;
}



/*Botões Menu*/
.contraste .itemLiHome{
    background-color: #893041;
    color: white;
    border: none;
}


.contraste .sairLogout, .contraste .voltar{
    background-color: gray;
    color: white;
    border: none;    
}


.contraste .itemLi{
    background-color: #3b5d76;
    color: white;
    border: none;
}


.contraste .itemLiLogin{
    background-color: #e5a93b;
    color: white;
    border: none;
}



/*Botões*/
.contraste .btnMostrar{
    background-color: black;
    color: white;
    border: 3px solid white;
    font-size: 1.5rem;
    font-weight: bold;

    width: 100%;
    max-width: 8rem;
}

